.file-item {
	width: 10em;
	height: 10em;
	position: relative;
	display: inline-flex;
	flex-direction: column-reverse;
	justify-content: end;

	&__name {
		padding: 0 0.625em 0.625em;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		text-align: center;
	}

	&__size {
		text-align: end;
		display: none;
	}

	&__btn-del {
		width: 20px;
		height: 20px;
		position: absolute;
		top: 0.625em;
		right: 0.625em;
		cursor: pointer;
	}
}
